.teds-link-with-icon-full-width {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;
}
.teds-link-with-icon-full-width .order-1 {
    order: 1;
}
.teds-link-with-icon-full-width .order-2 {
    order: 2;
}
